version: "3"

services:
  app:
    image: manutemovel:local
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - "5000:80"
    depends_on:
      - database

  database:
    image: postgres:latest

    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
